[submodule "pico-sdk"]
	path = pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "pico-examples"]
	path = pico-examples
	url = https://github.com/raspberrypi/pico-examples.git
[submodule "picotool"]
	path = picotool
	url = https://github.com/raspberrypi/picotool.git
