[submodule "fw-dev/pico-sdk"]
	path = fw-dev/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "fw-dev/pico-examples"]
	path = fw-dev/pico-examples
	url = https://github.com/raspberrypi/pico-examples.git
